@media only screen and (min-width: 768px) {
	.header,
	.footer-container-bottom .footer {margin: 0 -30px;}
	.header-button {margin-left: 20px;}
	.header-button > a:hover,
	.header-button.active > a { color:#181818; }
	.es-lang-class .header-button.currency-list {width: 52px;}
	.header-button > a:hover,
	.header-button.active > a{ color:#fff; }
	.header-button > a:hover,
	.header-button.active > a,
	.top-login ul li a:hover { color:#b28a60; }
	.products-grid .product-name ,
	.products-list .product-name { min-height: 34px; }

}
@media only screen and (max-width: 1400px) {
	#back-top {display: none !important;}
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
.block .line-before, .block .line-after {display: none;}
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
	.main-container, .footer-container {
		max-width: 960px;
		padding: 15px 0;
		box-shadow:inset 0 0 15px rgba(255,255,255,0.32);
		-moz-box-shadow:inset 0 0 15px rgba(255,255,255,0.32);
		-webkit-box-shadow:inset 0 0 15px rgba(255,255,255,0.32);
	}
	.header,
	.header, .footer-container-bottom .footer {margin: 0 -10px;}
	.block .block-title strong,
	.page-title h1, .page-title h2 {font-size: 20px; line-height: 23px;}
	.line-before, .line-after {bottom: 1px;}
	#search_mini_form {margin-right: 25px;}

	.box-up-sell .jcarousel-clip {width:660px;}
	.box-up-sell.related-carousel ul li {width:187px !important; padding:12px; margin-right:9px;}
	.products-ups.jcarousel-list .last {margin-right:9px;}
	#back-top {margin-left:495px;}
}

@media only screen and (min-width: 768px) and (max-width: 979px) {

	.products-grid {margin-bottom: 20px;}
	.products-grid li.item {padding:5px 5px 10px;}
	.regular-price,
	.products-grid li.item .minimal-price-link {float:none;}
	.products-grid li.item .price-box.map-info a {float:none; padding:0; margin-top:2px;}
	.products-grid li.item .regular-price,
	.products-grid li.item .old-price { display:block; }
	.products-grid li.item .ratings .rating-box { float:none; margin:0 auto 10px; }
	.products-grid li.item .ratings .amount { float:none; display:block; text-align:center; margin:0; }
	.products-grid li.item:before, .products-grid li.item:after {width: 10px !important;; height: 10px !important;;}


	.box-up-sell {height:auto;}
	.box-up-sell h2 {font-size:12px;line-height:15px;}
	.box-up-sell .jcarousel-clip {width:500px;}
	.box-up-sell .jcarousel-next,
	.box-up-sell .jcarousel-prev {top:10px;}
	.box-up-sell.related-carousel ul li {margin-right:9px;width:141px !important; padding:8px;}
	.box-up-sell ul.jcarousel-list li {margin-right:9px !important;}

	.footer-cols-wrapper { position:relative; overflow:hidden; padding-bottom:10px; }
	.footer-col.last { margin-right:0; }

	button.button > span, .block-wishlist .actions a, .page-sitemap .links a {font-size: 14px; text-transform: lowercase;}


	.main-container, .footer-container {
		max-width: 746px;
		padding: 15px 0;
		box-shadow:inset 0 0 15px rgba(255,255,255,0.32);
		-moz-box-shadow:inset 0 0 15px rgba(255,255,255,0.32);
		-webkit-box-shadow:inset 0 0 15px rgba(255,255,255,0.32);
	}
	.header,
	.header, .footer-container-bottom .footer {margin: 0 -11px;}
	.block .block-title strong,
	.page-title h1, .page-title h2 {font-size: 18px; line-height: 23px;}
	.line-before, .line-after {bottom: 1px;}
	#search_mini_form {margin: 15px 0 0;}
	.banner-block li {margin-bottom: 20px;}
	.banner-block h1 {font-size: 56px; line-height: 56px;}
	.banner-block h2 {font-size: 28px; margin-top: -12px;}
	.banner-block p {display: none;}
}
@media only screen and (max-width: 767px) {

	body {padding: 0;}
	.container,
	.main-container,
	.footer-container {margin: 0 2.127659574468085%;}
	.main-container .container, .footer-container .container {margin: 0;}
	.main-container, .footer-container {
		box-shadow:inset 0 0 20px rgba(255,255,255,0.32);
		-moz-box-shadow:inset 0 0 20px rgba(255,255,255,0.32);
		-webkit-box-shadow:inset 0 0 20px rgba(255,255,255,0.32);
	}
	.header { padding:0; }
	.padding-s {padding:0 10px; }

	.header .form-search button.button {width:22%;}
	.header .form-search button.button  span {padding:0; float:none;  display:block; text-align:center;}
	.header .form-search .input-text {
		font-size:14px;
		line-height:17px;
		width:77%;
		margin:0;
		moz-box-sizing:border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		 box-sizing: border-box;
	}

	.page-title,
	.category-title { margin-bottom:16px; }

	.pager .pages {clear:both;margin:0;text-align:center; padding-top:10px;}

	.products-grid {margin-bottom:0 !important;}
	.products-grid li.item { overflow:hidden; position:relative; padding:15px 15px 40px; margin:0 0 20px; width:100%; }
	.products-grid .product-image,
	.products-list .product-image { margin:0 auto; width:90px; }
	.products-grid .product-shop,
	.products-list .product-shop { overflow:hidden; text-align:left;}
	.products-grid .ratings .rating-box {margin: 0 0 4px;}


	.box-up-sell ul li {overflow:hidden;}
	.box-up-sell ul li .product-image {float:left; margin-right:15px; width:100px;}
	.box-up-sell ul li.jcarousel-item .product-image {float:none;margin-right:0;}
	.box-up-sell ul li.jcarousel-item .product-image img {height:auto;width:auto;}
	.related-carousel.box-up-sell ul li .product-image {width: 100%;}

	.box-up-sell {background:none;border:none;padding:20px 0 0;}
	.box-up-sell ul li {float:none;background:none;border:none;border-bottom: 1px solid #272728;padding:0 0 20px;margin: 0 0 20px;width:auto !important;}
	.box-up-sell .jcarousel-clip {margin:0 auto;width:184px;}
	.box-up-sell.related-carousel .jcarousel-clip li {border:none;margin:0;padding:0;width:184px !important;}
	#products-informations.box-up-sell .jcarousel-clip li {border:none;margin:0;padding:0;width:280px !important;}
	.box-up-sell .jcarousel-next {top:150px;right:10px;}
	.box-up-sell .jcarousel-prev {top:150px;left:10px;}

	.header-container-top {padding: 0; background-position: center -8px;}
	.header-buttons {margin-bottom: 15px;}
	.header .header-buttons,
	.header .links,
	.header .links li { float:none; }
	.header .links li a {display:block; margin:0;}
	.header-button > a {height:38px;}
	.header .row-2 .slogon,
	.header .header-links {display:none;}
	.top-login,
	.menu-list {display:block;}
	.top-login {height:auto; border:0 !important;}
	.header-button {
		width:25%;
		text-align: center;
		border-right:1px solid #3a3a3a;
		moz-box-sizing:border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		 box-sizing: border-box;
	}
.top-facebook i{
	display: block;
}

	.header-button i.fa{
		font-size: 24px;
		cursor: pointer;
		padding-top: 10px;
		color: white;
	}
	.header-button ul {	top:46px; right:auto;	left:0;	}
	.top-login ul li {border: 0;}
	.top-login ul li a {height:46px; background-image:url(../images/login.png); background-position:center center; }
	.top-login ul li a.Logout_link {background-image:url(../images/logout.png);}
	.header-button:hover > a,
	.top-login:hover ul li a {}
	.header-button.menu-list > a { background-position: center center;  }
	.header-button.currency-list > a,
	.header-button.lang-list > a { text-align: center; line-height: 30px; }
	.header-button.menu-list > a,
	.header-button.currency-list > a,
	.header-button.lang-list > a {padding-top:8px; }
	.top-login ul {top:0; left:auto; right:0; height: 100% !important;}
	.header-button.currency-list > a:after, .header-button.lang-list > a:after {float: none;  margin-left: 5px;}
	.header-button.currency-list ul,
	.header-button.lang-list ul {min-width: 200px;}

	.header-button > a:hover,
	.header-button.active > a,
	.top-login ul li a:hover { background-color:#242424; }

	.col-main {padding-bottom:20px;}
	.block {margin-bottom:8px; padding:0 10px;}
	.block .block-title	{ margin-right: 25px;	}
	.block .block-title:hover {cursor:pointer;}
	.block.block-account .block-title:hover {cursor:default;}
	.block .block-title	span.toggle {top:5px; right: -20px;}
	.sidebar .block.block-progress .block-content {display:block;}

	.mini-products-list .product-name {width:210px;}

}
@media only screen and (min-width: 480px) and (max-width: 767px) {

	.box-up-sell .products-grid td { width:378px; }
	.box-up-sell .jcarousel-next {right:50px;}
	.box-up-sell .jcarousel-prev {left:50px;}



	.products-grid .minimal-price-link {float:left; margin-left:10px;}



}
@media only screen and (max-width: 996px) {
	.woocommerce ul.products li.product .product-name a{
		font-size: 14px;
	}

	div.block-social-media{
		position: absolute;
		right: -80px;
	}

	.product_list_widget ins{
		display: block;
		font-size: 18px;
	}

	.block{
		margin-bottom: 30px;
	}

	.block .block-titl{
		margin-bottom: 10px;
	}

	.block-content del .amount{
		font-size: 12px;
	}

	.block-content ins .amount{
		font-size: 18px;
	}

	.woocommerce ul.product_list_widget li a{
		font-size: 14px;
	}

	ins .amount{
		font-size: 24px;
	}

	.products-ups .product-image,
	.products-grid .product-image{
		height: 154px;
	}

	.footer-col-content a{
		word-wrap: break-word;
		max-width: 70%;
	}
}

@media only screen and (max-width: 779px) {
	.header-button.top-login{
		display: none;
	}

	.products-ups .product-image{
		height: 120px;
		width: 120px;
	}

	.box-up-sell .product-name a{
		font-size: 18px;
	}

	.banner-block.row{
		display: none;
	}

	.products-grid .product-image,
	.products-list .product-image {
		width:154px;
	}

	.lang-list > a > img{
		margin-top: 8px;
	}

	.isotope-item {
		max-width: 100%;
	}

	.portfolioFilter a{
		width: 100%;
		margin-bottom: 0;
	}

}

@media only screen and (max-width: 632px) and (min-width: 585px) {
	.header h1.logo{
		width: 160px;
	}
}

@media only screen and (max-width: 585px) {
	.isotope-item{
		width: 100%;
		margin-bottom: 20px;
	}

	.isotope-item .grow img:hover{
		width: 100%
	}

	.gift-name{
		line-height: 60px;
		font-size: 24px;
	}

	.gifts-list li{
		height: auto;
	}

	img.khlogo{
		bottom: -40px;
		right: 0;
	}

	.header .welcome-msg{
		font-size: 16px;
	}

	div.form-left,
	div.form-right{
		float: none;
		width: 100%;
	}

	.page-title h1, .page-title h2{
		font-size: 22px;
	}

	.header-info #callback-btn-mobile{
		font-size: 28px;
	}

	.related-carousel.box-up-sell ul li .product-image{
		width: 180px;
		margin: 0 auto;
		float: none;
		height: 180px;
	}

	div.woocommerce-billing-fields,
	.woocommerce-notes-field,
	div.woocommerce-shipping-fields{
		padding: 2% 4%;
		background: #333;
		border-top: 3px solid #1e85be;
		margin-bottom: 30px;
	}

	div.woocommerce-billing-fields h3{
		position: relative;
		padding-top: 8px;
	}

	.woocommerce-notes-field #order_comments_field label:before{
	    content: "\f075";
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	/*--adjust as necessary--*/
	    color: #1e85be;
	    font-size: 18px;
	    padding-right: 12px;
	    padding-left: 8px;
	}

	div.woocommerce-billing-fields h3:before{
	    content: "\f044";
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	/*--adjust as necessary--*/
	    color: #1e85be;
	    font-size: 18px;
	    padding-right: 12px;
	    padding-left: 8px;

	}

	input.input-text,select,textarea,
	input[type="text"],
	input[type="email"]{
		border-color: #666;
	}

	.header-info,
	.header .welcome-msg {}
}
@media only screen and (max-width: 480px) {

	.accept-cards{
		position: absolute;
		left: 20px;
		width: 80px;
		bottom: 20px;
	}


	.additional-products li .additional-product h4{
		max-width: 140px;
		line-height: 1;
		padding-top: 10px;
	}

	.additional-products li .additional-product .price-box{
		line-height: 1;
		margin-right: 20px;

	}

	.additional-product .price-box del,
	.additional-product .price-box ins{
		margin: 0;
		float: none;
	}

	.additional-product .price-box ins span span,
	.additional-product .price-box del span span{
		display: inherit;
		float: right;
	}

	.woocommerce input.button,
	input.button{
		font-size: 14px;
		overflow-wrap: break-word;
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		white-space:normal;
	}

	.product_list_widget del{
		float: left;
		line-height: 38px;
		margin-right: 10px;
	}

	.product_list_widget ins{
		float: left;
		margin-right: 10px;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li,
	.woocommerce div.product .woocommerce-tabs ul.tabs li a{
		display: block;
	}

	.product_list_widget .woocommerce-price-suffix{
		line-height: 38px;
	}

	.products-grid .product-name a,
	.products-grid .price-box{
		text-align: center;
	}

	span.sku_wrapper{

	}

	.additional-products .price-box ins span,
	.additional-products .price-box del span{
		display: block;
		line-height: 22px;
		float: none;
	}

	.sku_wrapper.mobile{
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.main-container{
		padding: 12px 0 30px;
	}

	.qty-label{
		float: left;
		clear: both;
		display: block;
	}

	.additional-product-image, .additional-products li .additional-product h4{
		margin-right: 12px;
	}

	input[type=radio] + label:before, input[type=checkbox] + label:before{
		width: 22px;
		height: 22px;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li a{
		padding: 10px 10px;
	}

	div.block-title{
		margin-bottom: 20px;
	}

	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images{
		margin: 0 auto 20px;
		position: relative;
	}

	.header .logo{
		display: none;
	}

	.entry-content .half{
		width: 98%
		margin: 10px 0;
	}

	.entry-content img{
		width: 98%;
		height: auto;
		margin: 10px 0;
	}

	.logo.mobile a,
	.logo.mobile{
		display: block;
	}

	html{
		margin: 0 !important;
	}

	.shop_table tfoot td{
		min-width: 70px;
	}

	.woocommerce[class*=columns-] ul.products li.product,
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
		width: 100%;
		float: none;
	}

	.products-list .product-image, .products-grid .product-image{
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}

	.header-container-top{
		margin-bottom: 0;
	}

	.header-info #callback-btn-mobile{
		font-size: 18px;
	}

	.header-container .header-info{
		display: none;
	}

	.header .header-info{
		max-width: 350px;
	}

	.header-button.menu-list ul{
		left: 0;
	}

	.header-info.mobile{
		display: block;
	}

	#callback_wrapper{
		right: 0;
		margin: 30px;
	}

	.top-sale{
		display: block;
	}


	.products-list .product-shop {padding-bottom: 10px;}
}
@media only screen and (max-width: 460px) {
	.data-table th,
	.data-table td  {padding: 10px 5px;}
	.multiple-checkout .page-title h1 {margin-bottom: 5px;}
	.multiple-checkout,
	.product-view .box-collateral-content,
	#review-form {overflow: auto;}
	.page-sitemap .links {margin: 0;}
	.cart .totals button.button > span { font-size: 12px; }
	.banner-block p {font-size: 11px; line-height: 16px;}
	button.button > span, .block-wishlist .actions a, .page-sitemap .links a {font-size: 16px; text-transform: lowercase;}
	.woocommerce div.product .product_title{
		font-size: 24px;
	}
}

@media only screen and (max-width: 375px) {
	.product-view .product-img-box {text-align:left; width: 288px;}
	.product-view .product-img-box .product-image {left:0; overflow:hidden; width:284px; height: 306px;}
	.product-view .product-img-box .product-image #wrap {left: 172px;}
	.container-slider {width: 286px;}
	.tumbSlider li,
	.container-slider li {width: 95px !important;}
	.container-slider li a {width: 90px; }
	.banner-block p {display: none;}
	button.button > span, .block-wishlist .actions a, .page-sitemap .links a {font-size: 14px; text-transform: lowercase;}
	.block-social-media{margin-top: 20px;}
}

@media only screen and (max-width: 320px) {
	.woocommerce input.button,
	input.button,
	.woocommerce a.button{
		font-size: 10px
	}

	.header-info #callback-btn-mobile{
		font-size: 16px;
	}

	.additional-products li .additional-product h4{
		max-width: 120px;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li a{
		padding: 10px 8px;
	}

	.additional-product-image a{
		width: 30px;
		height: 30px;
	}

	.additional-products li .additional-product .price-box{
		margin-right: 20px;
	}

	.product .woocommerce-main-image{
		height: 260px;
		width: 260px;
		margin: 0 auto;
	}
}
