/********   RECAPTCHA    *************/

.rc-anchor-logo-portrait{
	margin: 5px 0 0 5px !important;
}

div.rc-anchor.rc-anchor-normal.rc-anchor-dark,
.g-recaptcha,
.g-recaptcha > div,
.g-recaptcha > div iframe{
	width: 100% !important;
}


/********   FORMS    *************/

#write-us-form .form-fields > div{
	flex-basis: 49%;
	display: flex;
}

#write-us-form .form-fields > div:first-child{
	flex-direction: column;
}

#write-us-form .wpcf7-form-control-wrap{
	display: flex;
	flex: 1;
	margin-top: 10px;
}

#callback_wrapper .wpcf7-form-control-wrap > input,
#callback_wrapper .wpcf7-form-control-wrap > textarea{
	width: 100%;
	margin-bottom: 5px;
}

.wpcf7-form-control-wrap > input,
.wpcf7-form-control-wrap > textarea,
#write-us-form .wpcf7-form-control-wrap > textarea,
#write-us-form .wpcf7-form-control-wrap > input{
	background: #333;
	padding: 20px;
	color: white;
	flex: 1
}

.entry-content .wpcf7-form-control-wrap > input,
.entry-content .wpcf7-form-control-wrap > textarea{
	margin-bottom: 10px;
}

.wpcf7-form-control-wrap > input::placeholder,
.wpcf7-form-control-wrap > textarea::placeholder,
#write-us-form .wpcf7-form-control-wrap > textarea::placeholder,
#write-us-form .wpcf7-form-control-wrap > input::placeholder{
	color: #a4a4a4
}

#write-us-form .form-fields{
	display: flex;
	justify-content: space-between;
}

.wpcf7-submit,
#write-us-form .wpcf7-submit{
	width: 100%;
	padding: 15px;
	display: block;
	background: #957c62;
	border: 1px solid transparent;
	color: #333;
	font-size: 18px;
	margin-top: 25px;
	cursor: pointer;
}

.wpcf7-submit:hover,
#write-us-form .wpcf7-submit:hover{
	color: #957c62;
	background: #333;
	border-color: #957c62;
}

.wpcf7 .ajax-loader{
	position: absolute;
}

div.wpcf7-response-output{
	display: block;
	display: inline-block;
	width: 100%;
	margin: 10px 0 0;
	padding: 20px;
	box-sizing: border-box;
	color: black;
	border-color: transparent
}

div.wpcf7-response-output.wpcf7-mail-sent-ok{
	border: 2px solid #398f14;
	background: #398f14
}

div.wpcf7-response-output.wpcf7-validation-errors{
	background: #f7b105;
	border-color: #f7b105;
}

span.wpcf7-not-valid-tip{
	position: absolute;
	right: 0;
	color: #df2516;
	padding: 5px;
}


/********   ACCOUNT PAGE    *************/

nav.woocommerce-MyAccount-navigation{

}

nav.woocommerce-MyAccount-navigation ul{
	margin: 0 0 20px;
	display: flex;
	list-style: none;
	padding: 0
}

nav.woocommerce-MyAccount-navigation ul li{
	list-style: none;
	flex: 1;
	display: flex;
	padding: 0;
}

nav.woocommerce-MyAccount-navigation ul li a{
	background: rgba(45, 45, 45, 0.54);
	border-right: 1px solid #333;
	text-align: center;
	padding: 15px 0;
	flex: 1
}

nav.woocommerce-MyAccount-navigation ul li:last-child a{
	border-right: 0;
}

.woocommerce-MyAccount-content .col2-set .col-1, .col2-set .col-2{
	padding: 20px;
	box-sizing: border-box
}


/********   Product Widget    *************/

.woocommerce ul.product_list_widget li{
	display: flex;
}

.woocommerce ul.product_list_widget li > a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	margin-right: 10px;
	background: white;
}

.woocommerce ul.product_list_widget li > a img{
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

.woocommerce ul.product_list_widget li > a + div{
	flex: 1
}


/********   Single Product    *************/

.woocommerce div.product div.images figure a{
	width: 300px;
	height: 300px;
	overflow: hidden;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center
}









ul.additional-products.clearfix{
	list-style: none;
	padding: 0;
	margin: 0;
}

#our_products.footer-col{
	width: 48%;
}

.products-information-carousel{
	position: relative;
	margin: 0;
}

.footer ul.products-information-list li a{
	color: #957c62;
	display: block;
	width: 100%;
	margin: 0 auto;
}

.footer ul.products-information-list li a:hover{
	color: #efefef;
}

.footer ul.products-information-list li a:before{
	display: none;
}

#our_products .box-up-sell .jcarousel-next,
#our_products .box-up-sell .jcarousel-prev{
	top: 20px;
}

#our_products .box-up-sell .jcarousel-next:before,
#our_products .box-up-sell .jcarousel-prev:before{
	font-size: 32px;
	top: 30px;
}

.products-information-carousel ul li img{
	width: 100%;
	height: auto;
	margin: 0;
}

#products-informations ul li{
	padding: 0;
	margin: 0;
}

.products-information-item h3{
	margin: 0 0 0;
	padding: 10px;
	border-bottom: 1px solid #333;
	text-align: center
}

.products-information-item img{
	max-height: 100%;
	width: 100%;
	margin: 0;
	height: auto;
}

.woocommerce form .form-row label{
	display: inline-block;
}

.landing-thumbnail-holder img{
	display: block;
	width: 100%;
	height: auto;
	float: left;
	margin: 0 0 20px;
}

.onoffswitch {
    position: relative; width: 90px;
    display: inline-block;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #E3E3E3; border-radius: 36px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
		float: left;
		width: 50%;
		height: 36px;
		padding: 0;
		line-height: 36px;
    font-size: 16px;
		color: white;
		font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Igen";
    padding-left: 10px;
    background-color: #49E845; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Nem";
    padding-right: 10px;
    background-color: #FFFFFF; color: #666666;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 36px; margin: 0px;
    background: #F2F2F2;
    position: absolute; top: 0; bottom: 0;
    right: 50px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.accept-cards{
	position: absolute;
	right: 40px;
	width: 150px;
	bottom: 120px;
}

.top-facebook i{
	display: none;
}

div.prev-posts-link,
div.next-posts-link{
	display: inline-block;
}

.entry-content p{
	margin: 14px 0;
	line-height: 1.5;
	text-align: justify;
}

.entry-content img{
	margin: 5px 1.5em 0;
}

.entry-content img.alignnone{
	margin: 0;
}

.page-title{
	font-size: 24px;
	line-height: 1;
	color: #fff;
	padding: 0;
	margin-bottom: 15px;
	position: relative;
	text-align: center;
	display: block;
}

.lang-list > a > img{
	margin-top: 4px;
}

.header .form-search button.button span{
	text-transform: uppercase;
}

.footer-col-content{
	text-align: left;
}

.woocommerce ul.products li.product.first{
}

ins{
	text-decoration: none;
}

del{
	color: #777;
}

ins .amount{
	font-size: 32px;
	line-height: 40px;
	font-style: italic;
	font-weight: lighter;
	text-decoration: none !important;
}

.product-view .summary p.price .woocommerce-Price-amount.amount,
li.product .price .woocommerce-Price-amount.amount{
	font-size: 32px;
	line-height: 40px;
	font-style: italic;
	font-weight: lighter;
	text-decoration: none !important;
}

.product-view .summary p.price del .woocommerce-Price-amount.amount,
li.product .price del .woocommerce-Price-amount.amount{
	font-size: 22px;
	margin-right: 20px;
	font-style: italic;
	font-weight: lighter;

}

.additional-product .price-box del{
	margin-right: 20px;
}

.block-content del .amount{
	font-size: 14px;
}
.block-content ins .amount{
	font-size: 22px;
	font-weight: lighter;
	font-style: italic;
	color: rgb(199, 34, 26);
}

.woocommerce-breadcrumb{
	text-align: left;
	color: #957c62;
}

.woocommerce .woocommerce-breadcrumb a:hover{
	color: #957c62
}

.filter-holder{
	border-bottom: 1px solid #777;
	margin-bottom: 10px;
}

.woocommerce-ordering select{
	color: #AAA;
}

.product_meta{
	padding: 10px 0;
}

.product_meta span.sku_wrapper{
	display: none;
}

.product-image span.sku_wrapper,
.thumb-holder span.sku_wrapper{
	background-color: rgba(0,0,0,.8);
	color: white;
	position: absolute;
	right: 0;
	font-size: 14px;
	bottom: 0;
	padding: 8px;
	text-decoration: none
}

.woocommerce div.product .product_title{
	float: left;
	color: #FFF;
	font-size: 28px;
	text-transform: uppercase;
}

.woocommerce div.product p.price,
.product-add-to-cart-box{

	border-bottom: 1px solid #777;
}

.product-add-to-cart-box{
	padding: 15px 0;
}

.woocommerce div.product p.stock{
	float: left;
	line-height: 30px;
	margin: 0;
	margin-right: 20px;
	color: #957c62;
}

.woocommerce div.product p.price{
	margin: 0;
}

.qty-label{
	line-height: 30px;
	float: left;
	text-transform: uppercase;
	margin-right: 10px;
}

.additional-products li{
	clear: both;
	border-bottom: 1px solid #777;
	padding: 15px 0;
}

.additional-products li .price-box{

}

.additional-products li .additional-product div,
.additional-products li .additional-product h4{
	float: left;
	line-height: 50px;
}

.additional-products .price-box del span{
	font-size: 14px;
	font-style: italic;
	font-weight: lighter;
}

.additional-products .price-box ins span{
	font-size: 18px;
	font-style: italic;
	font-weight: lighter;
}

.additional-products li .additional-product .price-box{
	float: right;
	margin-right: 10px;
}

.additional-product-image,
.additional-products li .additional-product h4{
	margin-right: 10px;
	float: right;
	font-size: 14px;
	margin-bottom: 0;
	text-transform: uppercase;
}

div.product-title-line{
	margin-bottom: 10px;
}

.woocommerce div.product p.price{
	padding-bottom: 10px;
}

.addiotional-check{
	float: right;
	margin-top: 20px;
}

.products-ups li{
	position: relative;
}
.products-ups li .price-box{
	margin-bottom: 18px;
}

ul.products-ups.jcarousel-list.jcarousel-list-horizontal{
	overflow: visible;
}

.video-box{
	margin-bottom: 20px;
	display: block;
	clear: both;
}

.video-box h2{
	text-align: center;
}

.video-box iframe{
	width: 100%;
	height: 360px;
}

.block-content li{
	border-bottom: 1px solid #777;
}

.block{
	margin-bottom: 60px;
}

.header-info a{
	color: #b28a60;
}

.header-info a:hover{
	color: white;
}

.header-info .fa.fa-phone{
	margin-right: 10px;
}

.main-container{
	text-align: left;
}

.mini_cart_item .cart-item-data,
.mini_cart_item .cart-item-image{
	float: left;
	padding: 10px;
	max-width: 165px;
}
.mini_cart_item .cart-item-image{
	line-height: 50px;

}

.mini_cart_item .quantity{
	float: none;
	display: block;
}

.mini_cart_item a.remove{
	font-size: 16px;
	color: red;
}

.mini_cart_item{
	clear: both;
}

.block-cart-header .total{
	padding: 10px 0;
}

table.shop_table.woocommerce-checkout-review-order-table{
	border: 1px solid #957c62;
}

.woocommerce-checkout-review-order-table .order-total th,
.woocommerce-checkout-review-order-table .order-total td{
	border-top: 3px solid #957c62;
}
.shop_table thead th,
.shop_table thead td{
	border-bottom: 1px solid #957c62;
}

.additional-product-image img{
	width: 50px;
	height: auto;
	margin: 0;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	margin: 0 5px 20px;
}

.totals-holder .shop_table.shop_table_responsive tbody td{
	text-align: right;
}


div.block-title.clearfix{
	display: block;
	position: relative;
	text-align: center;
}

div.block-title .line-title{
	font-size: 20px;
	text-transform: uppercase;
	line-height: 25px;
	color: white;
}

div.wc-proceed-to-checkout{
	text-align: right;
}

.additional-products .additional-product .button-box{
	line-height: 50px;
	float: right;
}

.additional-product-info{
	padding-top: 10px;
	display: none;
}

.more-images-btn{
	display: block;
	text-align: center;
	width: 100%;
	margin-top: 20px;
	cursor: pointer;
}


.more-images{
  margin-top: 20px;
  display: none;
}

.woocommerce-thankyou-order-received{
	margin-bottom: 10px;
}

.thank-you-page-head{
	margin-top: 10px;
}

div.additional-product-actions{
	margin-right: 10px;
	font-size: 20px;
	cursor: pointer;
}

.product-view .images{
	max-width: 300px;
}

.shop_table.order_details tfoot tr:last-child th,
.shop_table.order_details tfoot tr:last-child td{
	border-top: 3px solid #957c62;
	color: white;
}
.shop_table.order_details tfoot tr:first-child th,
.shop_table.order_details tfoot tr:first-child td{
	border-top: 1px solid #957c62;
}

.addresses header.title{
	border-bottom: 1px solid #aaa;
	margin-bottom: 10px;

}

span.item-per-pack{
	color: #aaa;
	margin-left: 12px;
	font-style: italic;
}

.item.product{
	text-align: center;
}

.block-cart-header .buttons a{
	display: inline-block;
}

#tab-shipping-tab ul,
#tab-subtitle-tab ul{
	margin-left: 20px;
	list-style: square;
}

#tab-shipping-tab p,
#tab-subtitle-tab p{
	line-height: 150%;
	margin: 5px 0;
}

.pagination{
	text-align: center;
	height: auto;
	display: block;
	margin-bottom: 15px;
}

.pagination span,
.pagination a{
	padding: 6px 10px;
	border: 1px solid #d3ced2;
}

.products-ups .price del{
	display: block;
}

.form-search button.button{
	padding: 0;
}
.shop_attributes p{
	margin: 0;
}

.woocommerce-cart table.cart td:last-child{
	text-align: right;
}

.woocommerce-cart table.cart thead th:last-child{
	text-align: right;
}

.mini_cart_item .cart-item-data a{
	text-transform: uppercase;
}

#callback_wrapper{
	position: absolute;
	max-width: 280px;
	top: 180px;
	right: 100px;
	z-index: 99999;
	display: block;
	background: black;
	padding: 40px;
	border: 1px solid rgba(112, 88, 64, 0.8);
}

#callback_wrapper p{
	margin-bottom: 10px;
}

#callback_wrapper.hidden{
	right: -400px;
}

.header-info a{
	cursor: pointer;
}

#close_callback,
#close_cart{
	right: 20px;
	top: 10px;
	cursor: pointer;
	font-size: 18px;
	/* color: red; */
	position: absolute;
}

.entry-content .half{
	float: left;
	width: 48%;
}

.entry-content .half:nth-child(even){
	padding-left: 2%;
}

.entry-content .wpcf7-form-control.wpcf7-textarea{
	width: 90%;
	margin-bottom: 10px;
	padding: 10px 12px;
	color: white;
}

.entry-content ul{
	list-style: square;
	padding-left: 5px;
	margin: 20px;
}
.entry-content ul li{
	padding-left: 5px;
}

.entry-content .wpcf7 h3{
	font-size: 22px;
	margin: 0 0 40px;
	padding: 0;
}

.logo.mobile,
.header-info.mobile{
	display: none;
}

.logo.mobile a{
	width: 110px;
}

.main-menu-item .fa.menu-toggle{
	cursor: pointer;
	margin-left: 12px;
	font-size: 22px;
	right: 0;
	top: 0;
	z-index: 1;
	padding: 4px 10px 4px 20px;;
	position: absolute;
}

.sku_wrapper.mobile{
	display: none;
}

.col2-set .col-1,
.col2-set .col-2{
	width: 46%;
	float: left;
}

.col2-set.addresses .col-1.address,
.col2-set.addresses .col-2.address{
	padding: 2%;
}

.QapTcha{
	margin-top: 0;
	margin-right: 10px;
}

table.shop_table.order_details{
	border: 1px solid #957c62;
}

.additional-product .price-box ins .amount{
	color: rgb(199, 34, 26)
}

.QapTcha .bgSlider{
	border-color: #444;
}

.QapTcha .dropError{
	color: red
}

.home .products.products-grid li:nth-child(4n+1){
	clear: both;
}


form.video-search .search-submit,
.read-more{
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d6c1ac', endColorstr='#b1885d');
	/* IE6-9 */
	background: -webkit-gradient(linear, left top, left bottom, from(#d6c1ac), to(#b1885d));
	background: -moz-linear-gradient(top, #d6c1ac, #b1885d);
	/* firefox 3.6+ */
	background: -o-linear-gradient(top, #d6c1ac, #b1885d);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d6c1ac, #b1885d);
	/* IE10+ */
	color: #040301;
	font-size: 15px;
	border: 1px solid #d4bda5;
	border-top-color: #e8dcd0;
	border-bottom-color: #b1885d;
	cursor: pointer;
	margin-right: 10px;
	text-transform: uppercase;
	padding: 12px 16px;
}

form.video-search .search-submit:hover,
.read-more:hover{
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#795938', endColorstr='#795938');
	/* IE6-9 */
	background: -webkit-gradient(linear, left top, left bottom, from(#795938), to(#795938));
	background: -moz-linear-gradient(top, #795938, #795938);
	/* firefox 3.6+ */
	background: -o-linear-gradient(top, #795938, #795938);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #795938, #795938);
	/* IE10+ */
	color: #040301;
	border-color: #795938;
	border-bottom-color: #b29f8c;
	border-right-color: #957c62;
}

form.video-search .search-field{
	float: left;
	border: 1px solid #454545;
	color: #fff;
	padding: 10px;
	font-size: 16px;
	height: 41px;
	resize: none;
	-webkit-appearance: none;
	width: 249px;
	margin-right: 20px;
	padding-right: 0;
	background: url("../images/main-container-bg.png") repeat scroll center top transparent;
}

.search-results .search-box{
	display: block;
	float: left;
	margin-left: 20px;
}

.search-results .video-frame{
	width: 100%;
	height: 480px;
	clear: both;
	margin-top: 20px;
	display: block;
}

.search-results .prod-img{
	float: left;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	float: right;
	align-items: center;
	background: white;
	height: 250px;
	width: 250px;
}

.search-results .search-box p{
	line-height: 1.5
}

.search-results .search-box .video-search{
	margin-top: 20px;
	display: block;
}

.dekor-list-item{
	clear: both;
	display: block;
	margin-bottom: 40px;
}

.dekor-list-item .cover-img{
	height: 100%;
	max-width: 100%;
}

.dekor-list-item .cover-img{
	width: 100%;
	height: 300px;
	display: block;
	overflow: hidden;
}

.dekor-list-item h2 a{
	text-transform: uppercase;
	font-size: 20px;
	color: white;
	width: 100%;
	padding-bottom: 10px;
	display: block;
	border-bottom: 1px solid #666;
}

.span9 .products.products-grid li:nth-child(3n+1){
	clear: both;
}

.design-products-list{
	margin-top: 20px;
}

a.webcreatives{
	display: block;
	margin: 0 auto;
	float: none;
	text-align: center;
}

a.more-info{
	float:none;
	display: block;
}

div.block-social-media{
	display: block;
	float: right;
	margin-right: 20px;
}

ul.social-media li a{
	padding: 6px 12px;
	font-size: 20px;
	border: 2px solid #957c62;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;

}

ul.social-media li a:hover{
	background: #dad8da;
	color: #957c62
}

.cover-img img{
	width: 100%;
	height: auto;
}

.entry-content h2{
	font-size: 20px;
	color: white;
	font-weight: 200;
}

input[type=checkbox].addiotional-check{
	visibility: visible;
	position: inherit
}

img.khlogo{
	max-height: 60px;
	position: absolute;
	margin-bottom: 40px;
	bottom:0;
	right: 40px;
}

.entry-content img.size-full{
	width: 100%;
	height: auto;
}

.entry-content img.alignleft{
	float: left;
	margin-right: 20px;
}

.gift-name{
	font-family: 'Great Vibes', cursive;
	font-size: 65px;
	line-height: 180px;
	text-align: center;
	color: white;
	text-transform: capitalize;
	margin: 0;
	background: rgba(0, 0, 0, .2);
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
	position: absolute
}

.gift-name:hover{
	color: #957c62;
}

div#lightgallery a{
	display: block;
	width: 48%;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 1%;
	margin-left: 1%;
	margin-right: 0;
	border: 5px solid #957c62;
	box-sizing: border-box;
	height: 300px;
}

.woocommerce-cart .cart-collaterals .cart_totals table tr.tax-total small{
	display: none;
}


div#lightgallery a:nth-child(odd){
	margin-left: 0;
	margin-right: 1%;
}

div#lightgallery a img{
	width: 100%;
	height: auto;
}

span.gallery_title{
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.80);
	padding: 30px 20px;
	width: 100%;
	color: white;
}

#customer_login .col-2{
	margin-left: 20px;
}

.woocommerce table.shop_table thead th{
	line-height: 60px;
	padding: 0 12px;
}

body .QapTcha .TxtStatus,
body .QapTcha .dropError{
	color: #e43131;
	font-size: 12px;
}

.gifts-list li{
	position: relative;
	display: block;
	text-align: center;
	height: 180px;
	margin: 10px 0 20px;
	overflow: hidden;
}

.gifts-list li img{
	width: 100%;
	height: auto;
}

.gifts-list li .layer{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.67);
	display: block;
	border: 1px solid #957c62;
	box-sizing: border-box;
}

.tax-product_tag .entry-content img.size-full{
	border: 1px solid #957c62;
}

h3.slogen{
	font-size: 20px;
	color: #1e85be;
	text-align: center;
	line-height: 40px;
	margin-bottom: 40px;
	margin-top: 40px;
	font-weight: 400;
}

.entry-content .product-image > img{
	margin: 0;
}

.header-button.top-sale a i{
	color: rgb(212, 0, 0);
}

.header-button.top-sale a:hover{
	background: none
}

.top-sale{
	display: none;
}

div.top-sale-button{
	position: absolute;
	top: 0;
	left: 300px;
	font-size: 22px;
}

div.top-sale-button a i{
	margin-right: 10px;
}

div.top-sale-button a{
	color: rgb(212, 0, 0);
}

a.button.back_to_gifts{
	margin-bottom: 20px;
	display: block;
	width: 200px;
}


.header-info em a i{
	margin-right: 20px;
}

.header-info em a{
	display: inline-block;
}

.on-off-switch{
    position:relative;
    cursor:pointer;
    overflow:hidden;
    user-select:none;
}

.on-off-switch-track{
    position:absolute;
    border : solid #888;
    z-index:1;
    background-color: #fff;
    overflow:hidden;
}

/* semi transparent white overlay */
.on-off-switch-track-white{
    background-color:#FFF;
    position:absolute;
    opacity:0.2;
    z-index:30;
}
/* Track for "on" state */
.on-off-switch-track-on{
    background-color:#009966;
    border-color:#008844;
    position:absolute;
    z-index:10;
    overflow:hidden;
}
/* Track for "off" state */
.on-off-switch-track-off{
    position:absolute;
    border-color:#CCC;
    z-index:1;
}

.on-off-switch-thumb{
    position:absolute;
    z-index:2;
    overflow:hidden;
}

.on-off-switch-thumb-shadow{
    opacity:0.5;
    border:1px solid #000;
    position:absolute;
}

.track-on-gradient, .track-off-gradient{

    background: -webkit-linear-gradient(180deg,rgba(0,0,0,0.2), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0)); /* Standard syntax */
    position:absolute;
    width:100%;
    height:5px;
}


.on-off-switch-thumb-color{
    background: -webkit-linear-gradient(45deg, #BBB, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #BBB, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #BBB, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #BBB, #FFF); /* Standard syntax */
    background-color:#F0F0F0;
    position:absolute;
}

.on-off-switch-thumb-off{
    border-color:#AAA;
    position:absolute;
}
.on-off-switch-thumb-on{
    border-color:#008855;
    z-index:10;
}
.on-off-switch-text{
    width:100%;
    position:absolute;
    font-family:arial;
    user-select:none;
    font-size:10px;
}

.on-off-switch-text-on{
    color:#FFF;
    text-align:left;
}
.on-off-switch-text-off{
    color:#000;
    text-align:right;
}
/* Mouse over thumb effect */
.on-off-switch-thumb-over{
    background-color:#F5F5F5;
    background: -webkit-linear-gradient(45deg, #CCC, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #CCC, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #CCC, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #CCC, #FFF); /* Standard syntax */

}

.show_price_switch_checkbox_container{
	margin-bottom: 20px;
}

.show_price_switch_label{
	float: left;
	margin-right: 20px;
	line-height: 30px;
}

a.havetologin{
	text-transform: none !important;
	font-size: 14px !important;
	color: rgb(217, 56, 68) !important;
}

.cart_item .product-thumbnail a{
	float: left;
}

div.thumb-holder{
	position: relative;
}

div.footer-container{
	margin-bottom: 40px;
}

.shop_table.order_details tfoot tr:nth-child(4n){
	display: none;
}

div.summary.entry-summary{
	position: relative
}

.add_prod_error_box{
	background: transparent;
	display: none;margin-top: 20px;
	padding: 30px 0;
	text-align: center;
	width: 100%;
	z-index: 9999;
	border: 3px solid rgba(237, 37, 7, 0.71);
}

.woocommerce-password-strength{
	color: black;
}

.portfolioFilter a {
	text-decoration: none;
	font-weight: bold;
	padding: 20px;
	display: inline-block;
	color: #a2a2a2;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.portfolioFilter a.current {
    color: white
}

.isotope-item {
    z-index: 2;
}

.isotope-item {
	height: 220px;
	overflow: hidden;
	width: 33%;
}
.isotope-item a{
	display: inline-block;
}

.isotope-item a img{
	width: 100%;
	height: auto
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.grid-item span{
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	font-weight: bold;
	width: 98%;
	background: rgba(149, 124, 98, 0.8);
	padding: 20px 1%;
	color: #fff;
}

/*GROW*/
.grow img {
	height: auto;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.grow img:hover {
  width: 400px;
  height: auto;
}

div#postaPontApi-inner{
	background: white;
}

.box-collateral.box-up-sell.related-carousel ul.products li.product{
	clear: none !important;
	width: 256px;
}

.fade.in{
	background: rgba(0, 0, 0, .4);
	opacity: 1;
}

.modal.in .modal-dialog{
	top: 40vh
}

.modal-content{
	background: #333;
	border: 5px solid #6f6f6f;
	border-radius: 0;
	color: #cfcfcf
}

.modal-title{
	text-transform: uppercase;
	font-size: 20px;
}

.modal-footer{
	border: 0;
}

.btn.btn-default{
	font-size: 100%;
	margin: 0 auto;
	border: 0;
	font-family: inherit;
	text-transform: uppercase;
	line-height: 1;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	overflow: visible;
	padding: 10px 15px;
	font-weight: normal;
	left: auto;
	white-space: nowrap;
	display: inline-block;
	text-align: center;
	box-shadow: none;

	-webkit-box-shadow: none;
	text-shadow: none;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d6c1ac', endColorstr='#b1885d');
	/* IE6-9 */
	background: -webkit-gradient(linear, left top, left bottom, from(#d6c1ac), to(#b1885d));
	background: -moz-linear-gradient(top, #d6c1ac, #b1885d);
	/* firefox 3.6+ */
	background: -o-linear-gradient(top, #d6c1ac, #b1885d);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d6c1ac, #b1885d);
	/* IE10+ */
	color: black;
}

.btn.btn-default:hover{
	cursor: pointer;
	background: #dad8da;
	color: #515151
}
